archive/
# Python
__pycache__/
*.pyc

# Environnements
.venv/
env/

# Données générées
DATA_EV/
OLD/

archive/

# OS
.DS_Store
Thumbs.db
biocoop_prix.db
biocoop_prix.db-journal
BIOCOOP_Liste/Biocoop_Liste.json

EauVive_prix.db


.idea/ 
*.xlsx

